html {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: calc(0.4 * (6vw + 5vh));
    color: white;
    font-weight: normal;
}

.blog-item {
    font-size: calc(0.31 * (3vw + 5.3vh));
    display: flex;
    justify-content: space-between;
    width: 55vw;
    text-decoration: none;
    color: white;
    margin-bottom: -9px;
    position: relative;
}

@media (orientation: portrait) {
    .blog-item {
        width: 90vw;
    }
}

.blog-item::after {
  content: "";
  display: block;
  height: calc(0.05 * (4vw + 5vh));
  top: calc(0.69 * (4vw + 5.7vh));
  position: absolute;
  background: #fff;
}

.blog-item:hover::after {
    width: 100%;
}

.blog-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3%;
}

.blog-date {
    white-space: nowrap;
}