
html {
    background-color: black;
}

body {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}

h1 {
    all: unset;
    font-size: calc(6vw + 5vh);
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: calc(0.35 * (6vw + 5vh));
}

.links a {
    color: white;
    text-decoration: none;
}

.links a::after {
  content: "";
  display: block;
  height: calc(0.05 * (4vw + 5vh));
  top: calc(0.05 * (4vw + 5vh));
  width: 0;
  position: relative;
  background: #fff;
}

.links a:hover::after { 
  width: 100%; 
}