html {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}

.work-in-progress {
    color: white;
    font-size: calc(0.7 * (6vw + 3vh));
}